<?xml version="1.0" encoding="UTF-8"?>
<plugin>

	<version>1.0</version>

	<properties>
		<type>objet</type>
		<id>gamewordfind</id>
		<title>gamewordfind</title>
		<category>game</category>
	</properties>
	
	<embeddedFiles>
		<file>wordfind.js</file>
		<file>wordfind.css</file>
		<file>wordfindgame.js</file>
	</embeddedFiles>
	
	<display>
		<screenImage>gamewordfindscreen.png</screenImage>
		<width>550</width>
		<height>650</height>
		<sizeText>18</sizeText>
		<colorText>black</colorText>
		<textAlign>center</textAlign>
		<behavior>center</behavior>
	</display>
	
	<options>
		<resize>1</resize>
		<changeImage>0</changeImage>
		<changeText>0</changeText>
		<conditionalObject>0</conditionalObject>
		<docTypeStrict>1</docTypeStrict>
	</options>

	<fields>
		<field>
			<label>Text :</label>
			<type>text</type>
			<defaut></defaut>
		</field>
	</fields>
	
</plugin>